/* CSS Properties */
:root {
  --white: #F7EFD2;
  --darkred: #5b0100;
  --green: #258b22;
  --pink: #c9547b;
  --violet: #9E7FC3;
  --gold: #d4af37;
  --night: #313946;
  --black: #1B2E4C;
  --text-black: #160A10 
}

/* Utils */
.dir-col {
  flex-direction: column;
}

/* Togliamo sfondo + usiamo quello del viaggio */
body {
  background-color: #FEE9CA;
  height: auto;
}
main {
  /* background: linear-gradient(215deg, var(--white) 0%, var(--pink) 80%); */
  background-image: 
    linear-gradient(rgba(205, 152, 192, 0.7)),
    url(../img/japan25/torii_fuji.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 10px;
  color: var(--white);
}

/* Titolo del viaggio */
.trip-header {
  height: 150px;
  padding: 20px;
  background-color: var(--darkred);
  text-align: center;
  background: linear-gradient(0deg, #F7EFD2 0%, #9E7FC3 60%);
}
.trip-header > h1 {
  margin-bottom: 0;
  font-style: oblique;
  font-size: 45px;
  color: var(--white);
  margin: 0 auto;               /* centro l'elemento in mezzo alla pagina!! */
  text-shadow: 2px 2px 5px var(--pink);
}
.dates {
  max-width: 300px;
  padding: 10px;
  background-color: var(--violet);
  border-radius: 20px;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto;               /* centro l'elemento in mezzo alla pagina!! */
}
.year {
  max-width: 100px;
  margin: 0 auto;
  background-color: var(--white);
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--violet);
}

/* Programma del viaggio --> Main */
.travel-program > p{
  margin-bottom: 20px;
  color: black
}
h2 {
  background-color: #FEE9CA;
  color: var(--night);
  text-align: center;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
  font-style: italic;
  padding: 5px 0;
  box-shadow: 0 0 10px var(--pink);
}
h3 {
  padding: 10px 0;
  color: #97284d;
}
a {
  border-radius: 5px;
  padding: 1px;
}

#volo-A,
#volo-R {
  max-width: 300px;
}
span {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 2px;
}

/* Lista */
ol, ul {
  margin-inline-start: 30px;
}
ol {
  list-style: decimal;
}
li {
  margin-bottom: 5px;
}

/* Tabella sezione spese */
table {
  margin: 40px auto;
  border-collapse: collapse;
  width: 90%;
  max-width: 600px;
  border: 2px dashed var(--night);
  text-align: left;
  color: #481325;
}
th, td {
  border: 2px dashed var(--night);
  padding: 10px;
}
tfoot {
  text-align: right;
  font-weight: bold;
}
table tr:hover {
  background-color: rgba(189, 148, 183, 0.7);
} 

/* Lista To Do list */
.todo-list {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}